ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: beige;
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}
#wrapper {
     width: 960px;
   margin-left: auto;
   margin-right: auto;
}
#banner {
   clear: both;	
   background-image: url("https://i.ytimg.com/vi/-bIuLEWnuIc/maxresdefault.jpg");
   height: 404px;
   background-size: cover;
   width: 1000px;
   background-repeat: no-repeat;
   border-style: solid;
	border-top-color: thick line black;
	border-right-color: black;
	border-left-color:black;
	border-bottom-color:black;
}


#header {
   background-color:beige;
   height: 90px;
   line-height: 70px;
   width: 1000px;
   
   
}
#menu {
  background-color: ;
   width: 500px;
   float: left;

}
#menu a {
   color: coral;	

}

#logo {
   background-color: beige;
   width: 367px;
   float: left;
   text-align: center;
}
#logo h1 {
   padding: 0px;
   margin: 10px;
   margin-right: 0px;
}
#feature1, #feature2, #feature3 {
   float: left;
   width: 315px;
   text-align: center;
   font-size: 25px;

}
#banner img {
   width: 100%;
 
}
#footer {
   background-color: darkgrey;
   clear: both;
   text-align: center;
   width: 1005px;
   padding: 0;
}
#footer img{
	height: 50px;
	width: 150px;
}
/*This is the About page css format*/
#ourmission {
	margin-left: auto;
	margin-right: auto;
	background-color: beige;
	text-align: center;
	width: 1000px;
	clear: both;
	border-style: solid;
	border-top-color: thick line black;
	border-right-color: beige;
	border-left-color:beige;
	border-bottom-color:beige;
	
	
}
#header {

	width: 1005px;
}
#wapper {
	margin-left:auto;
	margin-right:auto;
	width: 1000px;
}
#patel {
	float: left;
	text-align: center;
	width: 987px;
	padding: 10px;
	margin-top: 109px;
	background-color: ghostwhite;
}
#rawat {
	float: left;
	text-align: center;
	width: 980px;
	padding: 10px;
	margin-top: 0px;
	background-color: ghostwhite;
	border-style: solid;
	border-top-color: thick line black;
	border-right-color: ghostwhite;
	border-left-color:ghostwhite;
	border-bottom-color:ghostwhite;
}
#footer {
   background-color: darkgrey;
   clear: both;
   text-align: center;
   width: 1005px;
   padding: 0;
}
#footer img{
	height: 50px;
	width: 150px;
}
/*This is the css format for the contact page*/
#contactpage {
	background-color: gainsboro;
	border-style: solid;
	border-top-color: thick line black;
	border-right-color: gainsboro;
	border-left-color:gainsboro;
	border-bottom-color:gainsboro;
	width: 1000px;
}
#header {

	width: 1005px;
}
#wapper {
	margin-left:auto;
	margin-right:auto;
	width: 1000px;
}
#phone {
	background-color: gainsboro;
	padding: 20px;
	width: 966px;
	float: left;
}
#phone img {
	margin-right: 300px;
	float: left;
}
#address {
	background-color: gainsboro;
	width: 966px;
	padding: 20px;
	float: left;
	
}
#address img {
	margin-right: 300px;
	float: left;
}
#footer {
   background-color: darkgrey;
   clear: both;
   text-align: center;
   width: 1005px;
   padding: 0;
}
#footer img{
	height: 50px;
	width: 150px;
}
/* This is the css format for the timeline page*/
#header {

	width: 1005px;
}
#wapper {
	margin-left:auto;
	margin-right:auto;
	width: 1000px;
}
#timeline {
	background-color: beige;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 1000px;
	clear: both;
	border-style: solid;
	border-top-color: thick line black;
	border-right-color: beige;
	border-left-color:beige;
	border-bottom-color:beige;
}
#timeline img {
	height: 700px;
    width: 100%;
	max-width: 1080px;

}
#footer {
   background-color: darkgrey;
   clear: both;
   text-align: center;
   width: 1005px;
   padding: 0;
}
#footer img{
	height: 50px;
	width: 150px;
}
/* This is the css format for the gallery page*/
#header {

	width: 1005px;
}
#wapper {
	margin-left:auto;
	margin-right:auto;
	width: 1000px;
}
#intergallery {
	background-color: beige;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 1000px;
	clear: both;
	border-style: solid;
	border-top-color: thick line black;
	border-right-color: beige;
	border-left-color:beige;
	border-bottom-color:black;
}

#photo1 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 120px;
}
#photo2 {
	margin-top: 50px;
	float: left;
	margin-bottom: 10px;
	height: 50px;
	clear: both;
	margin-left: 500px;
}
#photo3 {
	margin-top: 50px;
	float: left;
	margin-bottom: 10px;
	height: 50px;
	width: 60px;
	clear: both;
}
#photo4 {
	margin-top: 150px;
	float: left;
	clear: both;
	margin-bottom: 10px;
}
#photo5 {
	margin-bottom: 20px;
	width: 200px;
	margin-left: 300px;
    
}


#footer {
   background-color: darkgrey;
   clear: both;
   text-align: center;
   width: 1005px;
   padding: 0;
}
#footer img{
	height: 50px;
	width: 150px;
}
